{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -Syu

{{ range .packages.linux.arch.pacman -}}
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .daemons.linux.arch -}}
sudo systemctl enable {{ . }} --now
{{ end -}}

{{ range .groups.linux.arch -}}
sudo usermod $USER -aG {{ . }}
{{ end -}}

{{ end -}}
{{ end -}}
