{{- $name := promptStringOnce . "name" "username" -}}
{{- $email := promptStringOnce . "email" "mail" -}}

merge:
  command: nvim
  args:
    - "-d"

data:
    name: {{ $name | quote }}
    email: {{ $email | quote }}
