{{- $name := promptStringOnce . "name" "Set your name" -}}
{{- $email := promptStringOnce . "email" "Set your email address" -}}

color: "auto"

merge:
  command: nvim
  args:
    - "-d"

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
