zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$XDG_CACHE_HOME/zsh/zcompcache"
zstyle ':completion:*' completer _complete _ignored
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' matcher-list '' 'm:{[:lower:]}={[:upper:]}'
zstyle ':completion:*' use-compctl true

autoload -Uz compinit && compinit
setopt autocd
bindkey -e

# ALIASES & FUNCTIONS
alias diff="diff --color=auto"
alias grep="grep --color=auto"
alias ll="ls -la --color=auto --human-readable"
alias nv="nvim"
{{ if lookPath "mc" }}
alias mc=". /usr/lib/mc/mc-wrapper.sh"
{{ end }}

{{ if eq .chezmoi.osRelease.id "arch" }}
function pamac() {
  if (( $+commands[paru] )); then
    paru -Syu
  else
    sudo pacman -Syu
  fi
  if (( $+commands[flatpak] )); then
    flatpak update
  fi
}
{{ end }}

{{ if lookPath "yazi" }}
function yz() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}
{{ end }}

# AUTORUN
source ~/.config/zsh/zsh-syntax-highlighting.zsh 
source ~/.config/zsh/zsh-autosuggestions.zsh 
source ~/.config/zsh/fzf.zsh 
source ~/.config/zsh/starship.zsh 
