{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{- if lookPath "matugen" -}}
matugen image "$HOME/themes/wallpapers/gruvbox-nostalgic-field.jpeg"
{{- end -}}
{{- if lookPath "mpd" -}}
systemctl enable mpd.socket --user --now
{{- end -}}
echo done!
{{- end -}}
