@import url("colors/gruvbox-dark.css");

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 13px;
    border-radius: 0;
    min-height: 0;
    animation-duration: 3.0s;
}

window#waybar {
    background-color: @background;
    border-bottom: 3px solid @outline;
    color: @on-surface;
    box-shadow: 0 5px 8px 0 alpha(@shadow, 0.8);
    transition: background-color .5s;
}

tooltip {
    background-color: @background;
    color: @on-surface;
    border: 3px solid @outline;
    margin: 5px;
    padding: 0.6em;
}

#sys,
#workspaces,
#mpris,
#clock,
#tray,
#language,
#bluetooth,
#network,
#wireplumber,
#backlight,
#hardware,
#custom-swaync {
    border-radius: 10px;
    margin: 5px 2px;
    transition: all 0.2s ease-in-out;
}

#mpris, 
#clock, 
#language, 
#wireplumber, 
#backlight,
#hardware {
    padding: 0 8px;
}

#network, 
#bluetooth,
#custom-swaync {
    padding: 0;
    min-width: 2.2em;
}

#sys {
    padding: 0;
}

#custom-logo {
    min-width: 2.2em;
}

#tray {
    padding: 0 4px;
    min-width: 1.6em;
}

#workspaces {
    padding: 0 4px;
}


#sys, 
#clock, 
#custom-swaync,
#workspaces button.focused {
    background-color: @primary;
    color: @on-primary;
}

#sys:hover, 
#clock:hover, 
#custom-swaync:hover, 
#workspaces button.focused:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#workspaces, 
#mpris, 
#tray, 
#language,
#bluetooth, 
#network,
#wireplumber, 
#backlight, 
#hardware, 
#tray menu {
    background-color: @surface;
    color: @on-surface;
}

#mpris:hover, 
#language:hover, 
#bluetooth:hover,
#network:hover, 
#wireplumber:hover, 
#backlight:hover, 
#hardware:hover,
#workspaces button:hover {
    background-color: @surface-container;
    color: @on-surface-container;
}

#workspaces button {
    color: @on-surface;
    border-radius: 50%;
    margin: 2px 2px;
    min-width: 2em;
    min-height: 2em;
    transition: all 0.2s ease-in-out;
}

#mpris.playing { 
    color: @primary; 
}
#mpris.playing:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#mpris.paused { 
    color: @secondary;
}
#mpris.paused:hover {
    background-color: @secondary-container;
    color: @on-secondary-container;
}

#network.disabled, 
#network.disconnected,
#bluetooth.disabled, 
#bluetooth.off, 
#wireplumber.muted {
    color: @secondary;
}

#network.disabled:hover,
#network.disconnected:hover,
#bluetooth.disabled:hover, 
#bluetooth.off:hover, 
#wireplumber.muted:hover {
    background-color: @secondary-container;
    color: @on-secondary-container;
}

#tray menu {
    border: 3px solid @outline;
    border-radius: 0;
}

#custom-shutdown { 
    margin: 0 8px 0 14px; 
}
#power-profiles-daemon { 
    margin: 0 14px 0 8px; 
}
#custom-reboot, 
#cpu, 
#memory { 
    margin: 0 8px; 
}

#custom-shutdown:hover, 
#custom-reboot:hover {
    color: @on-error-container;
}

#battery.warning { 
    color: @tetriary;
} 
#battery.critical { 
    color: @error; 
}
