{{ if lookPath "matugen" }}
@import url("colors/.matugen.css");
{{ else }}
@import url("colors/tokionight-night.css");
{{ end }}

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 18px;
}

window {
  background-color: @background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*opacity: 0.8;*/
}

#window-box {
    background: @surface;
	border: 2px solid @outline_variant;
	border-radius: 10px;
    padding: 64px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

label {
  padding: 0px 12px;
  color: @on_surface;
}

#clock-label {
    font-size: 44px;
}

#date-label {
    font-size: 24px;
}

entry {
    background: @surface_variant;
    color: @on_surface;
    letter-spacing: 2px;
    outline-color: transparent;
    outline-style: none;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

button {
    background: @primary;
    outline-color: transparent;
    outline-style: none;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

button label {
    color: @on_primary;
    box-shadow: none;
}

button:focus {
    background: @primary_fixed;
}
