[Appearance]
{{ if lookPath "matugen" }}
color_scheme_path=~/.config/qt6ct/colors/.matugen.conf
{{ else }}
color_scheme_path=~/.config/qt6ct/colors/gruvbox.conf
{{ end }}
custom_palette=true
icon_theme=breeze-dark
style=Breeze
