output "eDP-1" {
    mode "1920x1080@144.149"
    scale 1.0
    transform "normal"
    position x=1280 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup

    hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }
}
